.ct-series-a .ct-line {
    /* Set the colour of this series line */
    stroke: red;
    /* Control the thikness of your lines */
    stroke-width: 5px;
  }
  
  .ct-series-b .ct-line {
    /* Set the colour of this series line */
    stroke: green;
    /* Control the thikness of your lines */
    stroke-width: 5px;
  }
  
  .ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut {
      stroke: green;
  }
  
  .ct-point {
    position: relative;
    z-index: 2;
    cursor: pointer;
  }
  
  .ct-point:hover {
    stroke-width: 20px;
  }
  