<html>
{{template "header.tmpl.html"}}

<body id='body'>
    {{template "nav.tmpl.html"}}
    <div id="0-container" class="columns">
        <div id="one-container" class="column" style="padding: 75px;">
            <button id="1-clicker" class="button">CLICK IT</button>
        </div>
        <!-- <div class="column" style="padding: 75px;">
                <button id="two-clicker" class="button">CLICK IT 2</button>
        </div>
        <div class="column" style="padding: 75px;">
            <button id="three-clicker" class="button">CLICK IT 3</button>
        </div>
        <div class="column" style="padding: 75px;">
            <button id="five-clicker" class="button">CLICK IT 5</button>
        </div> -->
    </div>
    <div class="columns">
        <div class="column"></div>
        <div class="column">
            <span>Points: </span><p id="click-show">0</p>
        </div>
        <div class="column"></div>
    </div>
    <span style="position: fixed; bottom: 20px;
            filter: alpha(opacity=50);
            -moz-opacity: 0.5;
            -khtml-opacity: 0.5;
            opacity: 0.5;">Written in GO
        <a href="/hammingcodecode">Wanna see the code?</a>
    </span>
</body>
<script type="text/javascript">
    let buttonCount = 1;
    let containerCount = 0;
    let clickCount = 0;
    let currentClickShow = 1;
    
    
    function incrementSoGood(clickCount, containerCount) {
        console.log(buttonCount);
        if (buttonCount % 6 === 0) {
            containerCount++;
            const $newContainer = $('<container>', {'id': containerCount + '-container', 'class': 'columns'})
            $('#body').append($newContainer)
        }
        const $newDiv = $('<div>', {'id': clickCount + '-container', 'class': 'column', 'style': 'padding: 75px;'});
        $('#' + containerCount + '-container').append($newDiv);
        const $newBtn = $('<button>', {'id': (currentClickShow * 2) + '-clicker', 'class': 'button'});
        $newBtn.text('CLICK IT ' + currentClickShow);
        $('#' + clickCount + '-container').append($newBtn);
        $newBtn.on('click', function(e) {
            clickCount += currentClickShow
            $('#click-show').text(clickCount);
            if (clickCount > currentClickShow * 2) {
                isg = incrementSoGood(clickCount, containerCount)
                buttonCount++;
                currentClickShow = isg.currentClickShow;
                containerCount = isg.containerCount;
            }
        });
        return {'currentClickShow': currentClickShow * 2, 'containerCount': containerCount};
    }
    
    
    $('#1-clicker').on('click', function(e) {
        clickCount++;
        $('#click-show').text(clickCount);
        if (clickCount > (currentClickShow * 2)) {
            buttonCount++;
            currentClickShow = incrementSoGood(clickCount, containerCount).currentClickShow;
        }
    });
</script>
<script type="text/javascript">
    (function () {
        'use strict';
        var items = document.querySelectorAll(".timeline li");
        function isElementInViewport(el) {
            var rect = el.getBoundingClientRect();
            return (
                rect.top >= 0 &&
                rect.left >= 0 &&
                rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
                rect.right <= (window.innerWidth || document.documentElement.clientWidth)
            );
        }
        function callbackFunc() {
            for (var i = 0; i < items.length; i++) {
                if (isElementInViewport(items[i])) {
                    items[i].classList.add("in-view");
                }
            }
        }
        window.addEventListener("load", callbackFunc);
        window.addEventListener("resize", callbackFunc);
        window.addEventListener("scroll", callbackFunc);
    })();
</script>

</html>