<body class="layout-default" style="zoom: 1;">
  <nav class="navbar">
    <div class="navbar-item"></div>
    <div class="navbar-item"></div>
    <div class="navbar-item"></div>
    <div class="navbar-item"></div>
    <a class="navbar-item is-active" href="/">
      Home
    </a>
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link is-active" href="/blog">Blog</a>
      <div class="navbar-dropdown">
        <a class="navbar-item" href="/blog/graphicshistory">
          <div class="navbar-content">
            <p>
              <small class="has-text-link" style="color: blue">26 Nov 2017</small>
            </p>
            <p>A Brief History and Summary of Graphics Programming</p>
          </div>
        </a>
        <a class="navbar-item" href="/blog/ontechnology">
          <div class="navbar-content">
            <p>
              <small class="has-text-link" style="color: blue">08 Nov 2017</small>
            </p>
            <p>On Technology</p>
          </div>
        </a>
        <a class="navbar-item" href="/blog/ontravel">
          <div class="navbar-content">
            <p>
              <small class="has-text-link" style="color: blue">25 Oct 2017</small>
            </p>
            <p>On Travel</p>
          </div>
        </a>
      </div>
    </div>
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link is-active" href="/projects">Projects</a>
      <div class="navbar-dropdown">
          <a class="navbar-item" href="/projects/hamming">
            <div class="navbar-content">
              <p style="font-family: benary;">HAMM1NG C0DES</p>
            </div>
          </a>
          <a class="navbar-item" href="/projects/graphtv">
            <div class="navbar-content">
              <p>Graph TV</p>
            </div>
          </a>
      </div>
    </div>
    <a href="/rectangles" class="navbar-item is-active">Random Rectangle Fun</a>
    <div class="navbar-item">
      <p>Prefer the old UI?
        <a href="http://benlipson.azurewebsites.net/">
          What the hell is wrong with you?
        </a>
      </p>
    </div>
    <div class="navbar-item">
      <a href="/static/performance_eval.docx" class="button">Download my 2017-2018 performance review</a>
    </div>
  </nav>
</body>