<body class="layout-default" style="zoom: 1;">


<div class="container">
  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a style="width: 215px;" class="navbar-item" href="http://benlipson.io/">
        <p id="b" style="margin-right: 100%; height: 5%;">
          <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
          <svg style="max-height: 150px; max-width: 175px;" viewBox="0 0 1000 1000">
            <polygon id="Path" points="100,500 100,100 250,75 335,175 250,275 335,375 250,490"></polygon>
            <polygon id="Path" fill="#FFFFFF" points="175,250 250,175 175,150"></polygon>
            <polygon id="Path" fill="#FFFFFF" points="175,425 250,375 175,300"></polygon>
            <polygon id="Path" points="400,500 400,100 625,75 630,175 500,175 490,250 630,255 575,325 490,330 495,400 625,400 625,475"></polygon>
            <polygon id="Path" points="700,500 720,100 800,105 900,415 900,105 980,100 965,495 880,500 770,200 785,500"></polygon>
          </svg>
        </p>
      </a>

    <div id="navMenuIndex" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item is-active" href="http://benlipson.io/">
          Home
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link " href="#">
            Blog
          </a>
          <!--<div id="blogDropdown" class="navbar-dropdown is-boxed" data-style="width: 18rem;">-->

            <!--<a class="navbar-item" href="#">-->
              <!--<div class="navbar-content">-->
                <!--<p>-->
                  <!--<small class="has-text-info">27 Jul 2017</small>-->
                <!--</p>-->
                <!--<p>Coming Soon!</p>-->
              <!--</div>-->
            <!--</a>-->
          <!--</div>-->
        <!--</div>-->
        <!--<a class="navbar-item is-active" href="#">-->
          <!--Hamming Codes-->
        <!--</a>-->
        <!--<a class="navbar-item is-active" href="#">-->
          <!--Linear Algebra-->
        <!--</a>-->
        <!--<a class="navbar-item is-active" href="#">-->
          <!--Music Visualization-->
        <!--</a>-->
      </div>
    </div>
    </div>
    </div>
  </nav>
</div>
