<html>
{{template "header.tmpl.html"}}

<body>
    {{template "nav.tmpl.html"}}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-2 is-8">
                    <h1 class="title is-2" align="center">
                        On Technology
                    </h1>
                    <div class="content is-medium">
                        <p>&emsp;&emsp;Never in the history of mankind have we been presented with such a clear path to salvation
                            and perfection as modern technology. I mean, it’s simple right? We make things that make our
                            lives easier until we reach a point where our lives no longer need to get easier. . . It’s turned
                            out to be a lot more complicated than this. You may be familiar with the Accelerationist movement,
                            made popular by Nick Land. It can be summed up as an ideology geared towards expanding the prevailing
                            system of late-stage capitalism to its most extreme form in order to trigger radical social change
                            and economic liberty. Two schools of thought, right-accelerationism and left-accelerationism,
                            prevail amongst those who follow this technological mantra.
                        </p>
                        <p>&emsp;&emsp;Right-accelerationists truly believe that an anarcho-capitalist society would naturally
                            benefit everyone. They want to tear down all barriers to free enterprise and technological expansion,
                            including regulations, environmental sanctions, international trade rules, and often government
                            itself. This may sound familiar as being basically the beliefs of the most extreme right wing
                            American politicians (tea party members and trump worshippers). It’s almost too easy to see the
                            inherent flaws with this set of beliefs so I won’t spend much time on it. A fully and singularly
                            profit-driven society leads only to the concentration of that wealth to a small percentage of
                            the people, those who happen to be in a position where they own the mechanisms that create goods
                            and services, or, in the context of our post-1990 late-stage capitalist hellscape, those who
                            own and can operate technology. Without proper distribution of resources, inequality would run
                            rampant. The vast majority of people would be homeless and jobless, forced to suffer under the
                            rule of capitalist technocrats like Mark Zuckerberg, Elon Musk, and Jeff Bezos.
                        </p>
                        <p>&emsp;&emsp;Left-accelerationists are an odd bunch. The most radical among them want to purposely
                            push the symptoms of late-stage capitalism farther because they know that capitalism has self-destructive
                            tendencies and they want to accelerate the process of that self-destruction. In other words,
                            the revolution can’t begin in earnest until the right-accelerationist dystopia has been realized.
                            I definitely don’t agree, but this seems to me to be the most logical school of left-accelerationist
                            thought; at least they recognize their own absurdity and realize that things are going to get
                            much worse before they get better. More optimistic but at the same time more ignorant left-accelerationists
                            think that eventually technology will accelerate past the horizon of capitalism and into the
                            socialist utopia with little effort. They want to repurpose technology to achieve more socially
                            constructive and environmentally conscious ends, as if the mechanisms capitalism uses to thrive
                            could be separated from capitalism itself without fundamental structural reform. Elon Musk again
                            comes to mind when criticizing this theory. His entire business model is proof that you can take
                            this liberal wet dream of technological salvation, and commoditize it to sell it back to those
                            same “progressives” for profit, thus driving the institution that your consumer base claims to
                            hate.
                        </p>
                        <p>&emsp;&emsp;The accelerationist views lie in stark contrast to the much more common, blue-collar
                            luddite view that technological innovation and automation are bad for society. Rich liberal elites
                            just want to take people’s jobs away so they can make more money, and we should destroy the means
                            of production (modern technology) before they have the chance. Touted by more moderate conservatives
                            looking to score a quick win with middle and working class voters, this view holds us back from
                            our potential salvation the most out of any discussed thusfar. I wholeheartedly sympathize with
                            the sentiment, but instead of blaming technological progress itself, we should instead blame
                            the socio-economic processes that put us in a position where tools created for the betterment
                            of modern life are used for exploitation.
                        </p>
                        <p>&emsp;&emsp;Why have these views popped up? Why are they all so wrong? It’s clear to me that capitalism
                            and technology are deeply linked with one another, but what these positions seem to mistake is
                            the direction they’re intertwined in. More specifically, they assume this connection is bidirectional,
                            or that one can’t exist without the other. While capitalism certainly can’t exist without technological
                            growth and innovation as its primary driving force, no real evidence exists to suggest that technology
                            must be constrained to capitalism. That being said, with the comforts of technology in the modern
                            world comes the civic duty to recognize that the modern technological revolution, and indeed
                            all past technological revolutions (IE the industrial revolution), are centered not around reducing
                            hours and making lives easier, but rather maximizing profit in the form of capital for those
                            in control of the technology (this specifically is what most left-accelerationists miss). In
                            our current system, machines and technology should only be viewed from the perspectives of the
                            workers they replace, as material manifestations of the force of control exerted by those above
                            them. This alienation is bad for society, despite what modern technologists might claim. Again
                            I find myself turning to Karl Marx when searching for guidance. His words rang true when he said
                            “The production of too many useful things results in too many useless people.” In order to realize
                            the profound and lasting impact technology could have on our society, we need to reshape the
                            mechanisms and systems which utilize it. A new regime must be introduced, one that works on entirely
                            different principles than the one we have right now. One where technology can be pushed as far
                            as possible, and be made as useful as possible, but people still have the means of survival that
                            they need and are thus free to seek out whatever useful endeavor they choose. Our first priority
                            must then be the implementation of this new regime, but what does that entail? The topic could
                            be an entire blog post (or even life’s work) in and of itself, and has less to do with technology
                            (the subject in question) directly, so I’ll glide past it for now. It definitely involves what
                            the Brazillian people call ‘Renta básica’, or universal base income. And it definitely involves
                            government funded food, water, and shelter for all people. Suffice to say, once a new institution
                            is put in place we can then focus more heavily on pushing technological progress forward. To
                            say that the most important thing to do right now is to tinker with computers for the fun of
                            it while people starve and die on the streets is an abhorrent over-privileged view.
                        </p>
                        <p>&emsp;&emsp;Assuming, though, that you have technological skill and are also on board with not letting
                            people starve and die (as well as eliminating all the other atrocities under late-stage capitalism,
                            which is too long of a list to go through), you don’t have to sit on your hands. You can still
                            work to create innovative solutions, so long as the solutions you implement actually serve this
                            greater goal. For example, you can create automated food delivery systems for those who don’t
                            have enough to eat, you can start or contribute to technological education non-profit organizations,
                            you can help to implement sustainable environmentally friendly systems through the use of technology.
                            The list of truly productive ways a technologist can contribute is limited only by their imagination,
                            and yet nowhere on that infinite list does it say “sit in a cube for 8 hours a day creating solutions
                            designed to make whatever corporation you’re working for at the time money”. The goal of fundamental
                            structural change must be the focus, with technology merely as one of its many drivers. Once
                            we get enough technologists on board with this mode of thought, we can begin to create a two-pronged
                            effort where we attack the problem from both sides. We’ll both be pushing for structural change
                            on a fundamental political level, convincing those who disagree and working towards a socio-economic
                            revolution, and we’ll be creating the solutions to be used by this new system behind dissenters’
                            backs so that eventually we won’t need to convince them, they’ll be able to see how much better
                            it is for themselves. The catch is that enough of us have to do it, and that we can’t get entrenched
                            in the capitalist rat-race (which is all too easy to be trapped by). This is probably a pipe
                            dream, but it’s one that I firmly believe in so I’m going to go ahead and keep smoking.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-2 is-8">
                    <h3 class="title is-4" align="center">
                        Sources
                    </h3>
                    <div class="content is-medium" align="center">
                        <p>
                            <a target="_blank" href="http://criticallegalthinking.com/2013/05/14/accelerate-manifesto-for-an-accelerationist-politics/">
                                The Accelerationist Manifesto
                            </a>
                        </p>
                        <p>
                            <a target="_blank" href="http://hyperstition.org/">
                                Hyperstition
                            </a>
                        </p>
                        <p>
                            <a target="_blank" href="https://pmacdougald.wordpress.com/2016/04/14/accelerationism-left-and-right/">
                                Accelerationism Left and Right
                            </a>
                        </p>
                        <p>
                            <a target="_blank" href="https://techcrunch.com/2017/03/26/technology-is-killing-jobs-and-only-technology-can-save-them/">
                                Technology is Killing Jobs and Only Technology Can Save Them
                            </a>
                        </p>
                        <p>
                            <a target="_blank" href="https://www.yahoo.com/news/brazilian-town-embraces-universal-income-experiment-102916533.html">
                                Renta Básica in Brazil
                            </a>
                        </p>
                        <p>
                            <a target="_blank" href="https://www.amazon.com/Technology-History-Dilemma-Technological-Determinism/dp/0262691671">
                                Does Technology Drive History? The Dilema of Technological Determinism
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script type="text/javascript">
    (function () {
        'use strict';
        var items = document.querySelectorAll(".timeline li");
        function isElementInViewport(el) {
            var rect = el.getBoundingClientRect();
            return (
                rect.top >= 0 &&
                rect.left >= 0 &&
                rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
                rect.right <= (window.innerWidth || document.documentElement.clientWidth)
            );
        }
        function callbackFunc() {
            for (var i = 0; i < items.length; i++) {
                if (isElementInViewport(items[i])) {
                    items[i].classList.add("in-view");
                }
            }
        }
        window.addEventListener("load", callbackFunc);
        window.addEventListener("resize", callbackFunc);
        window.addEventListener("scroll", callbackFunc);
    })();
</script>

</html>