<html>
{{template "header.tmpl.html"}}

<body>
    {{template "nav.tmpl.html"}}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-2 is-8">
                    <h1 class="title is-2" align="center">
                        On Travel
                    </h1>
                    <div class="content is-medium">
                        <p>&emsp;&emsp;I know a lot of people who love to travel. They claim that it makes them better people.
                            Some go even farther and claim that it’s a necessity if you want to be a good person at all.
                            They repeat the mantra of learning about other cultures, meeting new people, seeing new sights,
                            experiencing the world, etc… as if they’re automatically better people by virtue of the fact
                            that they’ve seen more things than others have seen. It takes an entirely overprivileged and
                            narcissistic person to embody the concept. Too often “experiencing new things” and “learning
                            about cultures” means taking fun pictures to put online and eating food. It’s a petty act of
                            consumption, exploitation even, that serves only to further one’s opinion of oneself. That’s
                            not to say that travel’s necessarily bad either. It just, like with all things, matters how you
                            do it, and how you think about how you do it. I too feel the pull towards adventure that comes
                            with having your base needs met in life. So the question then becomes not ‘is traveling selfish
                            and bad?’ but rather ‘how can I travel without doing it in a selfish and bad way?’</p>
                        <p>&emsp;&emsp;A few friends of mine have stayed in various places in the world in a more long-term
                            capacity. They spend time in school, staying with host families while taking on part-time jobs,
                            working on farms, etc… This feels more reliably ethical to me. As a gut reaction, the work involved
                            definitely contributes. The fun, short-term, exploitative romp around a foreign place while taking
                            pictures and marveling at material culture like it’s some sort of circus show stands in stark
                            contrast to these more contributive stays in that while you learn and grow as person from the
                            culture you’re becoming integrated with, you also supply your labor and your perspective in return.
                            More of a give-and-take relationship instead of a parasitic one. And yet still I feel my skin
                            crawling when I think about myself actually engaging in one of these types of stays. Although
                            you stay for longer and help more, I can’t shake the feeling that it’s still too temporary. How
                            much can you really help by giving a few months of time to a farm or school? You might say that
                            helping all that you can while growing as a person is worth it, that the cumulative good between
                            the help you contribute and the perspective you gain (and can then share with others) makes it
                            ethical. I might even agree with you (I’m deciding as I write this), but does that really make
                            it worth it? Is traveling really the only way to gain this kind of perspective? We find ourselves
                            at a dilemma of travel being the only means of self-actualization and ideological harmoniousness,
                            so people who don’t have the opportunity or the money to travel can never achieve life on the
                            highest plane of existence. I spit on that idea. While spending time in different parts of the
                            world might be a good conduit for self growth, it’s not the only conduit. There are many others
                            that you can do right at home on the cheap, some are even better. You can read books, watch movies,
                            learn languages, etc… So why travel at all? Because it’s fun? You spend thousands of dollars
                            that could’ve been used for a better purpose in order to get some sort of feeling of fulfillment
                            that you could’ve gotten by checking out a few books from your local library? That seems selfish,
                            and like I don’t want to do it.</p>
                        <p>&emsp;&emsp;That feeling of “fulfillment” doesn’t really exist anyway, through travel or any other
                            means. It’s just you telling yourself that you’ve escaped the oppressive global society in which
                            we live, when in actuality you’ve only entrenched yourself further within that system by supporting
                            global capitalism and engaging in multi-national commodity fetishism. The more I think about
                            this the sadder I get because I don’t think achieving “self-actualization” is actually possible.
                            I’m doomed to the world of cognitive ideological dissonance. Everything I touch, see, taste,
                            hear, and smell can be traced back to something unethical. I bought some clothes from Walmart,
                            which were made in sweatshops by exploited workers in Bangladesh. I bought some granola bars
                            from Target, which contain palm oil, the main ingredient that gives motivation for the deforestation
                            of the world’s rainforests. I bought some furniture at IKEA, a company that’s been linked to
                            child labor, nazism, and environmental issues. I paid for a ride from Uber, thus supporting the
                            ongoing sexual harassment, and underpaying workers that Uber engages in. You can look up any
                            major brand in the world and find a host of ethical issues. Not to mention the underlying issues
                            inherent with our economic system. You might think it’s more ethical to buy a used house than
                            build a new one, for example, in order to reduce waste. And it seems at first glance that you’re
                            right, certainly it’s the more ethical choice (though I’m sure whatever real estate agency sold
                            you the house has their own skeletons in the closet), but it still has its problems. Why should
                            you get that house while other people starve and die on the streets without homes? Because you
                            worked to get the money to do so? Even if that were true, which in most cases it’s not because
                            to even have the opportunity to work to get that money is a privilege (a lot of people have to
                            work just to survive), it’d still make no sense. People who are lazy deserve to die? They should
                            go hungry? Their kids too? The logic doesn’t follow, and it’s wrong on a base level anyway. (This
                            example was about houses, but the same can be said about apartments, townhomes, or any other
                            living situation).</p>
                        <p>&emsp;&emsp;There’s nothing you can do to escape it. We’re assaulted in every part of our lives by
                            the capitalist ideology. When you’re on the bottom of the class system you have to fight just
                            to survive and you’re forced to accept the fact that you’ll probably always be exploited. When
                            you, like me, are on or near the top you either get to live with the terrible knowledge that
                            no matter what you do you can’t help everyone and that an ethical world doesn’t exist, or you
                            can ignore it and become a libertarian, conservative, moderate, or centrist (all terms for the
                            same thing, in my view). Far too many people choose the latter. They engage their lives through
                            the Marxist idea of “false consciousness”, which is a state of mind that doesn’t allow you to
                            see the true nature of your own economic situation. It’s a hard realization to make, and a hard
                            life to confront, but not nearly as hard as the lives of those below you. Never forget that.</p>
                        <p>&emsp;&emsp;So the proposed solution of travel as a means of escape doesn’t work. It may even be
                            a bad thing, because it makes you feel as though you’ve escaped when you haven’t, which causes
                            complacency. To be fair though, nothing else works either. All that we can do is try our best
                            to fight back. We’re doomed to failure but if enough of us try hard enough and consistently enough
                            maybe someday we won’t fail. You can buy used clothes from the thrift store instead of new ones
                            from Walmart; they may be traced back to the same types of sweatshops but at least it’s not contributing
                            to their overall sales. You can avoid products with ingredients like palm oil that support environmental
                            disaster. You can bike or take the bus instead of taking an Uber. etc. There must be a mode of
                            vacation or traveling that’s equivalent to these alternatives, one that’s at least not worse
                            than living in general. Again, as with most issues, it depends on a lot of different things.
                            How are you living right now? How will you live when you travel? Why is one better than the other?
                            I came across this website of two people traveling with their dogs in a camper long-term. It’s
                            been a very helpful resource (I’m also a dog owner). But the more I read the more I realized
                            they weren’t really living any differently than they otherwise would have. They had a super nice,
                            new camper with a full furnishing of plates, silverware, cooking stuff, etc. It was like they
                            picked up their bourgeoisie suburban home, put wheels under it, and went. Clearly in that case
                            traveling wasn’t the right choice because it wasn’t a conduit for them to change and live more
                            ethically. If you can’t justify your life then you need to change it, and you’ll never be able
                            to justify your life under our current system, so you have to be in a constant state of change.
                            (Side note, this is why I’m so horrified of staying in one place or one job for too long). So
                            maybe the answer to the question of whether or not you should do something is the same as the
                            answer to the question of whether or not that thing is something you’ve never done before. In
                            other words, if you haven’t done it you should do it, within reason obviously, don’t go trying
                            out murder because it’s a new experience. But with traveling, maybe the fact that it’s novel
                            and will jar me out of where I’m at is justification enough. I know that the way that I live
                            now isn’t as ethical as I’d like. I’m fairly certain that there exists no situation in which
                            I can truly live better, but I won’t know unless I try something different. And at the very least
                            I can incrementally change my life.</p>
                        <p>&emsp;&emsp;Karl Marx summed up my parting thoughts well in his economic and political manuscripts
                            of 1844 when he said, “The less you eat, drink, and buy books; the less you go to the theatre,
                            the dance hall, the public house; the less you think, love, theorise, sing, paint, fence, etc.,
                            the more you save - the greater becomes your treasure which neither moths nor rust will devour
                            - your capital. The less you are, the less you express your own life, the more you have, i.e.,
                            the greater is your alienated life, the greater is the store of your estranged being.” I refuse
                            to become an empty shell of a person. I refuse to submit, conform, consume, and obey like the
                            capitalistic society I’m entrenched within wants me to. I will express myself and my life in
                            whatever way I see fit, and you should too. If that means you want to travel, then travel, but
                            do it as ethically as you can, otherwise your fight won’t last very long. Buy used equipment,
                            live off of what you need not what you want, absorb information from different perspectives,
                            give information from your perspective. Most importantly, help others do the same. I’m fucking
                            tired of seeing instagram pictures of people’s “hella dope” trip to foreign countries when the
                            pictures are flushed with white Americans. I don’t want to hear about how good the barbeque is
                            in South Korea, or how crazy it is to see the Eiffel Tower in person. I want to hear about how
                            you lived, what you learned, how you grew, and what you did to give back.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-2 is-8">
                    <h3 class="title is-4" align="center">
                        Sources
                    </h3>
                    <div class="content is-medium" align="center">
                        <p>
                            <a target="_blank" href="https://www.marxists.org/archive/marx/works/1844/manuscripts/needs.htm">
                                Karl Marx's Manuscripts of 1844
                            </a>
                        </p>
                        <p>
                            <a target="_blank" href="https://en.wikipedia.org/wiki/False_consciousness">
                                I don't care what your high school teacher said, Wikipedia is a good source
                            </a>
                        </p>
                        <p>
                            <a target="_blank" href="https://www.amazon.com/Phenomenology-Spirit-G-W-Hegel/dp/0198245971/ref=sr_1_1?s=books&ie=UTF8&qid=1508986667&sr=1-1&keywords=phenomenology+of+spirit">
                                Hegel's Phenomenology of Spirit
                            </a>
                        </p>
                        <p>
                            <a target="_blank" href="https://www.theguardian.com/business/2013/nov/18/walmart-bangladesh-factories-fail-safety-review">
                                Walmart is evil.
                            </a>
                        </p>
                        <p>
                            <a target="_blank" href="http://www.ucsusa.org/global-warming/stop-deforestation/drivers-of-deforestation-2016-palm-oil#.WfFPsxNSxE4">
                                Palm oil is evil.
                            </a>
                        </p>
                        <p>
                            <a target="_blank" href="http://www.hbs.edu/faculty/Pages/item.aspx?num=33278">
                                IKEA is evil.
                            </a>
                        </p>
                        <p>
                            <a target="_blank" href="https://www.theguardian.com/technology/2017/may/23/uber-underpaid-drivers-new-york-city">
                                Uber is evil.
                            </a>
                        </p>
                        <p>
                            <a target="_blank" href="http://watch.everythingisterrible.com/">
                                Everything is evil and terrible, including you, me, and everyone.
                            </a>
                        </p>
                        <p>
                            <a target="_blank" href="https://weretherussos.com/full-time-rving-large-dogs/">
                                Look at these people. Terrible.
                            </a>
                        </p>
                        <p>
                            <a target="_blank" href="https://www.tourismconcern.org.uk/ethical-travel-guide/">
                                But we can still try our best!
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script type="text/javascript">
    (function () {
        'use strict';
        var items = document.querySelectorAll(".timeline li");
        function isElementInViewport(el) {
            var rect = el.getBoundingClientRect();
            return (
                rect.top >= 0 &&
                rect.left >= 0 &&
                rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
                rect.right <= (window.innerWidth || document.documentElement.clientWidth)
            );
        }
        function callbackFunc() {
            for (var i = 0; i < items.length; i++) {
                if (isElementInViewport(items[i])) {
                    items[i].classList.add("in-view");
                }
            }
        }
        window.addEventListener("load", callbackFunc);
        window.addEventListener("resize", callbackFunc);
        window.addEventListener("scroll", callbackFunc);
    })();
</script>

</html>